body {
    margin: 0;
  font-family: "Inter", sans-serif;
  text-align: center;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #6943FF;
    padding-bottom: 30px;
    
}

#title {
    color: #ffffff;
    text-shadow: black 0 0 2px
    
}

#number {
    border: solid 2px #B295FF;
    background-color: #6943FF;
    width: 100px;
    height: 83px;
    margin-bottom: 30px;
    color: #ffffff;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    border-radius: 5px;
    
}

#convert-btn {
    border: none;
    width: 100px;
    height: 42px;
    color: #3D3D3D;
    background: #ffffff;
    border-radius: 5px;
    text-align: center;
    
}

#boxes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #F4F4F4
    
}

.box {
    border: none;
    background-color: #ffffff;
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 500px;
    padding: 5px 10px;
    
    
    
    
}

.subtitle {
    color: #5A537B;
    font-size: 20px;
}

.conversion {
    color: #353535;
    font-size: 13px;
}